body {
  background-color: #EEE;
}

canvas {
  border: 1px solid #FFF;
  background-color: #000;
}

.tools {

}


.layer {
  height: 30px;
  cursor: pointer;
  background-color: #FFF;
}

.layer:hover {
  background-color: #FF0;
}

.layer.selected {
  background-color: #FF0;
}
